<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @strain.name %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Editar', edit_strain_path(@strain) %> |
<% end %>
<%= link_to 'Atrás', strains_path %>
